body{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}


h1, h2, h3, h4, h5,h6{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
p {
  line-height: 2rem;
}
.nav-item{
  text-transform: uppercase;
}
 .nav-link {
    color: black!important;
}
.nav-item a:hover{
  color: #bfbfbf!important;
}

.footer-item a:hover{
  color: #009999!important;
}

#wordmark{
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}

#hero{
    background-image: url(../img/design.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

#contact #hero{
      background-image: url(../img/email.jpg);
      background-size: cover;
      background-position: 50% 50%;
      background-blend-mode: multiply;
    }

#quilling #hero{
  background-image: url(../img/catmoon.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

#process #hero{
  background-image: url(../img/process.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-blend-mode: multiply;
}

#quilling #main{
    background-color: #f2f2f2!important;
}
#resume #main{
    background-color: #f2f2f2!important;
}
#contact #main{
  background-color: #f2f2f2!important;
}

#photography #album{
  background-color: #f2f2f2!important;
}
#photography #hero{
  background-image: none;
}
#process #main{
    background-color: #f2f2f2!important;
}

#photography #hero video{
  object-fit: cover;
  mix-blend-mode: soft-light;
}

#resume #hero{
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: 50% 90%;
  background-blend-mode: multiply;
}

#resume #main svg{
  fill: #009999!important;
}
#education span{
  color: #009999!important;
}
#resume #sidebar svg{
  fill: #ffff!important;
}
#process #credits a{
  color: #006666!important;
}
#process #main a{
  color: #006666!important;
}


 #blue svg{
  color: #006666!important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 700;
      }

.btn-outline-secondary:hover{
  color: #009999!important;
}

.nav-link.active{
  color: #009999!important;
}

.bg-dark{
  background-color: #006666!important;
}

.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active{
  background-color: #009999;
}
#quilling .carousel-caption{
  background: #00000066;
}
